.spin
{
  
  /*To create image referenced in CSS, use 'Export Selected CSS' command.*/
  background-repeat : no-repeat;
  position : absolute ;
  left : 437px;
  top : 145px;
  width : 493px;
  height : 493px;
}


  
  /*To create image referenced in CSS, use 'Export Selected CSS' command.*/
 .circles
{
 /* background-image : url(Lady_middle_circle.png);
  /*To create image referenced in CSS, use 'Export Selected CSS' command.*/
  background-repeat : no-repeat;
  position : absolute ;
  left : 602px;
  top : 340px;
  width : 147px;
  height : 145px;
}



.lady
{
  
 
  /*To create image referenced in CSS, use 'Export Selected CSS' command.*/
  background-repeat : no-repeat;
  position : absolute ;
  left : 593px;
  top : 345px;
  width : 158px;
  height : 156px;
}

